* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}

/* flip images */

img{
  top:8px;
  width: 255px;
  height: 350px;
  transition: transform .2s;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.item{
  position: relative;
}
.front,
.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .3s;
        transition-property: transform, opacity;
}
.front {
  transform: rotateY(0deg);
}
.back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.front:hover {
  transform: rotateY(180deg);
}
.back:hover{
  opacity: 1;
  transform: rotateY(0deg);
}
/* text animation */

.div {
  width: 100%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
.animation, .animation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animation span { display: inline-block }

.lesnake span { animation: leSnake 1.5s ease-in-out; animation-iteration-count: infinite }
@keyframes leSnake {
  from, to { transform: translateY(0px) }
  50% { transform: translateY(30px) }
}

#slider-text{
    display: block;
}
#slider-text .col-md-6{
    overflow: hidden;
}


#slider-text h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(240, 13, 13);
}
#slider-text h1::after{
    content: "";
    position: absolute;
    bottom: 35px; 
    width: 100%;
    }
#content-box {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  border: black 5px solid;
}
#itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px auto 3px;
    color:#ffff
}
  #itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 3px auto 2px;
    color:#ffff
  }
  #itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 3px auto 2px;
    color:#f70202
  }
  
.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid rgb(48, 31, 31);
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}
  

#slider-control img{
    top: 60%;
    margin: 0 auto;
  }

  @media screen and (max-width: 992px){
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
    }
  }
  
.carousel-slider .carousel-control {
    width: 4%;
    background-image: none;
  }
.carousel-slider .carousel-control.left {
    margin-left: 5px;
  }
.carousel-slider .carousel-control.right {
    margin-right: 5px;
  }

 *.carousel-slider .cloneditem-1,
  .carousel-slider .cloneditem-2,
  .carousel-slider .cloneditem-3,
  .carousel-slider .cloneditem-4,
  .carousel-slider .cloneditem-5,
  .carousel-slider .cloneditem-6,
  .carousel-slider .cloneditem-7,
  .carousel-slider .cloneditem-8,
  .carousel-slider .cloneditem-9,
  .carousel-slider .cloneditem-10 {
    display: none;
}

/* media query */
  @media all and (min-width: 768px) {
    .carousel-slider .carousel-inner > .active.left,
    .carousel-slider .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-slider .carousel-inner > .active.right,
    .carousel-slider .carousel-inner > .next {
      left: 50%;
    }
    .carousel-slider .carousel-inner > .left,
    .carousel-slider .carousel-inner > .prev.right,
    .carousel-slider .carousel-inner > .active {
      left: 0;
    }
    .carousel-slider .carousel-inner .cloneditem-1 {
      display: block;
    }
    #slider-text h1 {
      font-size: 25px;
    }
  }

  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-slider .carousel-inner > .item.active.right,
    .carousel-slider .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-slider .carousel-inner > .item.active.left,
    .carousel-slider .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-slider .carousel-inner > .item.left,
    .carousel-slider .carousel-inner > .item.prev.right,
    .carousel-slider .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-slider .carousel-inner > .active.left,
    .carousel-slider .carousel-inner > .prev {
      left: -16.666%;
    }
    .carousel-slider .carousel-inner > .active.right,
    .carousel-slider .carousel-inner > .next {
      left: 16.666%;
    }
    .carousel-slider .carousel-inner > .left,
    .carousel-slider .carousel-inner > .prev.right,
    .carousel-slider .carousel-inner > .active {
      left: 0;
    }
    .carousel-slider .carousel-inner .cloneditem-2,
    .carousel-slider .carousel-inner .cloneditem-3,
    .carousel-slider .carousel-inner .cloneditem-4,
    .carousel-slider .carousel-inner .cloneditem-5,
    .carousel-slider .carousel-inner .cloneditem-6  {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-slider .carousel-inner > .item.active.right,
    .carousel-slider .carousel-inner > .item.next {
      -webkit-transform: translate3d(16.666%, 0, 0);
      transform: translate3d(16.666%, 0, 0);
      left: 0;
    }
    .carousel-slider .carousel-inner > .item.active.left,
    .carousel-slider .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-16.666%, 0, 0);
      transform: translate3d(-16.666%, 0, 0);
      left: 0;
    }
    .carousel-slider .carousel-inner > .item.left,
    .carousel-slider .carousel-inner > .item.prev.right,
    .carousel-slider .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  
.bg-danger{
    font-size: 16px;
    margin-top:50px;
}


